<a href="https://colab.research.google.com/github/bhuvanlekkala/5-week-Data-Science-Bootcamp/blob/main/Week_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Data Analysis**
 a method of collecting and organizing the data and if required manipulating the data so that one can derive some useful information from the data

**Pandas**
a tool in Python that helps you collect (or read) the data from a file, organize it in a tabular format, manipulate and clean the data if required to derive the insightful information from the data.

tool used by data scientists to:
read,
write,
manipulate, and 
analyse the data for large no of millions and rows

In [ ]:
# import pandas lib as anu other using np shortcut
import pandas as pd
# create a dictiobary with key and value as we do in  week 0
b={"one":1,"two":2,"four":4,"five":5,"six":6,"seven":7}
# series is a 1-D array can hold any data type may be mixed and its like excel(Table)
pd.Series(b)
# cann have int,float etc

dict

In [ ]:
import pandas as pd
# python list is created
data=[[1006,'achuth',20],
[1230,"divesh",50],
[1430,'Bhaskar',60]]
# data frame is 2-D, collections of series, structured with rows and columns
# horizantal rows and vertical columns
pd.DataFrame(data)

      0        1   2
0  1006   achuth  20
1  1230   divesh  50
2  1430  Bhaskar  60

In [ ]:
import pandas as pd
import numpy as np
# import modules
array=np.array([[1006,'achuth',20],
            [1230,'divesh',50],
            [1430,'Bhaskar',60]])
# create array and values in it
index_values=["first","second","third"]
# give attributes for rows
column_values=["roll no","name","marks"]
# give attributes for columns
df=pd.DataFrame(data=array,index=index_values,columns=column_values)
# create  data frame  df 
print(df)
# series is a column in data frame
# printb df

**Read & write files**


*   CSV is comma-separated-value is afile in which data is seperated by commas
*   A CSV file stores tabular data (numbers and text) in plain text
*   CSV (Comma Separated Values) is a simple file format used to store tabular data, such as a spreadsheet or database
*   Just like excel it may be in text file

In [ ]:
import pandas as pd
# python list is created
data=[[1006,'achuth',20],
[1230,"divesh",50],
[1430,'Bhaskar',60]]
# data frame is 2-D, collections of series, structured with rows and columns
# horizantal rows and vertical columns
pd.DataFrame(data)
# converting data frame(df) to csv
df.to_csv('bhuvan_csv',index=False)
# index is false

**Basic Methods/Attributes of Dataframe
**

In [ ]:
# data set taken from url and drawing insights from it
import pandas as pd
# form url read data directly with out downlaoding
train = pd.read_csv("https://s3-ap-southeast-1.amazonaws.com/av-datahack-datacamp/train.csv")
# if its downloaded the dataset needed to be in same directory

In [ ]:
train.shape
#  DataFrame has 614 rows and 13 columns.DataFrame has (614*13)7982 entries.

(614, 13)

In [ ]:
train.head()
# data frame first 5 obsersavations

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
train.tail()
# data frame last 5 obsersavations

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
train.tail(10)
# last 10 entities of DF same for head also

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
train.dtypes
# some are objects and some are integers and float

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [ ]:
train.info()
# reprsents complete inofmation of data
# rows, columns and non null(not 0) and data types and memory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
import pandas as pd
sma_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")
sma_data.shape
# reprsents the shape of overall data frame (rows,columns)

(99, 10)

In [ ]:
sma_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB

Indexing --One of the very first thing you should learn is selecting the relevant data quickly and effectively from a dataframe. This is a very basic step that is needed in almost any data operation that you will run and need indexing, selecting and assigning data in a dataframe in real world senarios

In [ ]:
# iloc - index based selection
import pandas as pd
sma_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")
sma_data.head()
# Indexing in Pandas means selecting particular rows and columns from a DataFrame

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [ ]:
sma_data.iloc[0,0]
# 1348 is land area is indexing first row and first column
# operator used for selecting first row and first column

1384

In [ ]:
# positive indexing
sma_data.iloc[0:5,2]
# the rows from start to end excluding last and after , gives which column to select

0    12.3
1     9.4
2    10.7
3     8.8
4    10.5
Name: percent_senior, dtype: float64

In [15]:
# negative indexing
sma_data.iloc[-5:,0:2]
# the rows from last five rows  to end and after , gives 2 columns

    land_area  percent_city
94       1511          38.7
95       1543          39.6
96       1011          37.8
97        813          13.4
98        654          28.8

**Label Based Selection**-loc and iloc are conceptually similar. The difference is that iloc considers the default indexing while loc ignores the default indexing..
loc is used for selecting data based on the data index value/name, not the numerical positions.

In [19]:
sma_data.loc[0:2,"physicians"]
# loc ois used for non numerical data and can get data from just column name

0    25627
1    13326
2     9724
Name: physicians, dtype: int64

In [22]:
sma_data.loc[0:2,["graduates","physicians","work_force"]]
# two indexing rows and data from eaxh required cloumns

   graduates  physicians  work_force
0       50.1       25627      4083.9
1       53.9       13326      3305.9
2       50.6        9724      2066.3